@font-face{
    font-family: 'Auge-Trial';
    src: url('../static/Auge-Trial-Bold.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar{
    display: flex;
    // padding: 10px;
    justify-content: space-around;
    align-items: center;
    // border: 1px solid red;
    width: 100%;
    .navbar-logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 2.2rem;
        font-family: 'Auge-Trial';
        a{
            text-decoration: none;
            color: white;
        }
        // border: 1px solid red;
    }
    .navbar-search{
        input{
            padding: 5px;
            text-align: center;
            border-radius: 5px;
            border: none;
        }
    }

    .navbar-icons{
        display: flex;
        list-style: none;
        // border: 1px solid red;
        li{
            padding: 0 10px;
            font-size: 20px;
            a{
                color: white;
                :hover{
                    color: #ddd;
                }
            }
        }
    }
}