.products-container{
    display: flex;
    flex-direction: column;
    // width: 60%;
    border: 1px solid red;
    h2{
        // border: 1px solid red;
        text-align: center;
        align-items: flex-start;
    }
    .card-container{
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 20rem;
        margin-top: 2rem;
        // z-index: -2;
        .card {
            margin: 20px;
            border: 2px solid #232323;
            padding: 20px;
            cursor: pointer;
            img {
                width: 13rem;
                margin-bottom: 1rem;
            }
            h3 {
                margin-bottom: 1rem;
              }
          }
    }
}