/* Color Theme Swatches in Hex */
$hex1: #A67968;
$hex2: #D9AB9A30;
$hex3: #402721;
$hex4: #D95252;
$hex5: #733232;
$hex6: #ddbcb0;

.product-card{
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    // border: 2px solid #ededed;
    background-color: white;
    // border-radius: 20px;
    overflow: hidden;
    box-shadow: 4px 4px 4px #23232344;
    font-size: 12px;
    text-align: center;
    width: 200px;
    transition: 1s ease-in-out;
    .product-image{
        margin: 0;
        padding: 0;
        img{
            width: 10rem;
            margin-bottom: 1rem;
            box-shadow: 4px 2px 10px #23232344;
            transition: 0.5s ease-in-out;
            aspect-ratio: 9/16;
            // border: 5px solid black;
        }
    }
    .product-info{
        transition: 0.5s ease-in-out;
        // border: 1px solid red;
        padding-bottom: 40px;
        flex: auto;
        position: relative;
        h3{
            text-overflow:clip;
            max-height: 50px;
            width: 100%;
            // border: 1px solid green;
        }
        // height: 100%;
        button{
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 70%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            border-radius: 0;
            background-color: $hex5;
            transition: 0.5s ease-in-out;
            &:hover{
                cursor: pointer;
                background-color: #1a1a1acc;
            }
        }
    }
    &:hover {
        .product-image img{
            transform: scale(0.9) translateY(-5%);
        }
        .product-info{
            transform: translateY(-20%);
        }
        .product-info button{
            opacity: 1;
            visibility: visible;
        }
    }

}